In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

dataset = pd.read_csv("adult.csv")
dataset.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [3]:
def cleandata(dataset):
    for column in dataset.columns:
        if dataset[column].dtype == type(object):
            le = LabelEncoder()
            dataset[column] = le.fit_transform(dataset[column])
    return dataset

def split_feature_class(dataset,feature):
    features = dataset.drop(feature,axis=1) #เอาข้อมูลทั้งหมดยกเว้น income
    labels = dataset[feature].copy() #เอาเฉพาะ income
    return features,labels

In [4]:
dataset = cleandata(dataset)

#split train, test
training_set,test_set = train_test_split(dataset,test_size=0.2)

#train
train_features,train_labels = split_feature_class(training_set,"income")

#test
test_features,test_labels = split_feature_class(test_set,"income")

#model
model = GaussianNB()
model.fit(train_features,train_labels)

#predict
clf_pred = model.predict(test_features)

print("Accuracy : ",accuracy_score(test_labels,clf_pred))
df = pd.DataFrame({"Actuall":test_labels,"Predicted":clf_pred})
df

Accuracy :  0.7865806847842776

       Actuall  Predicted
17224        0          0
2410         1          1
21459        0          0
5683         0          0
22017        0          0
...        ...        ...
15746        0          0
4340         1          0
14684        1          0
26640        0          0
8449         0          0

[6513 rows x 2 columns]